<%= provide(:title, "Create New Gamemode") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical-large">

      <div class="mid-text padding-bottom-large center">
        Create new gamemode
      </div>

      <div class="padding-bottom">
        <%= form_for(@gamemode, url: gamemodes_path) do |f| %>
          <%= render 'partials/errors/gamemode_errors' %>
          <div class="field">
            <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
          </div>
          <div class="field">
            <%= f.text_field :image, placeholder: "Image", class: "text-field" %>
          </div>
          <div class="field">
            <%= f.text_area :description, placeholder: "Description", class: "text-area" %>
          </div>
          <div class="actions">
            <%= f.submit "Create gamemode", class: "submit-button" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
